[Desktop Entry]
Name=Glyph Lights
Comment=Toggle Nothing Phone 1 glyph lights
Exec=qmlscene %U qml/Main.qml
Icon=icon.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
